[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule "bundle/taghighlight-automirror"]
	path = bundle/taghighlight-automirror
	url = git@github.com:abudden/taghighlight-automirror.git
[submodule "bundle/vim-javacomplete2"]
	path = bundle/vim-javacomplete2
	url = git@github.com:artur-shaik/vim-javacomplete2.git
[submodule "bundle/vim-rooter"]
	path = bundle/vim-rooter
	url = git@github.com:airblade/vim-rooter.git
[submodule "bundle/AutoComplPop"]
	path = bundle/AutoComplPop
	url = git@github.com:vim-scripts/AutoComplPop.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = git@github.com:honza/vim-snippets.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = git@github.com:SirVer/ultisnips.git
